.slideDown {
    transform: translateY(0%);
    opacity: 1;
    pointer-events: auto;
}
  
.slideUp {
    transform: translateY(100%);
    opacity: 0;
}

/*nav bar effects */

.rotateZero{
    transform: rotate(0deg);
}
 
.scaleOne{
    transform: scale(1.1);
}